
body{
    color: aliceblue;
    background-color: black;
}
.card{
    background-color: rgb(37, 37, 36);
    color: rgb(169, 183, 183);
    border-color: rgb(105, 104, 103);
   
}
.card:hover{
    color: rgb(254, 255, 255);
    background-color: rgb(5, 5, 5);
}
.button{
    width:100%;
}
.headline{
    margin-top:100px;
    margin-bottom:50px;
    font-family: "Bebas Neue", sans-serif;
   letter-spacing:1px;
   word-spacing:10px;
}
.createdMe{
    font-size: larger;
    color: rgb(105, 112, 118);
    margin-top:50px;
}
.author{
    margin-top:14px;
    font-size:12px;
}
.badge{
    background-color:rgb(192, 48, 48) ;
    border-radius:40px;
}